<app-image imageSource={{currentUser?.image}} imageClass="roundPic"></app-image>
<app-title text="Name: {{currentUser?.name}}"></app-title>
<app-title text="Balance: $ {{currentUser?.balance}}"></app-title>
<app-title text="Cards: {{currentUser?.cards?.length}} "></app-title>
<div class="d-flex justify-content-center align-items-center">
  <app-button (clickEvent)="clickShowDeposit()" buttonType="button" text="Deposit" buttonClass="btn btn-success"></app-button>
  <app-button buttonType="button"  text="Collection" disabled="false" buttonClass="btn btn-warning"></app-button>
</div>
<app-depositform *ngIf="showDepositForm" (clickEvent)="clickHideDeposit()"></app-depositform>

